header {
    margin-bottom: 5rem;

    nav {
        background-color: $bg-grey;
        .txt-ppal {
            font-size: 2.5rem;
            color: #2f1f5c;
            font-weight: bold;
            text-align: center;
            display: block;
            width: 90vw;
           
           
        }
    }
}